body {
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: 0px;
    color: #677294;
    padding: 0px;
    overflow-x: hidden;
    z-index: 0;
  }
  a{
      text-decoration: none;
  }
.background{
    background-image: url("https://images.unsplash.com/photo-1512436991641-6745cdb1723f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}
.container{
    max-width: 1100px;
    margin: 40px auto;
    background-color: rgba(255,255,255,0.75);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.inner-container{
    max-width: 400px;
    margin: 42px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;
}
.heading{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}
.name{
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: black;
}
.category{
    font-size : 28px;
    font-weight: 400;
    text-align: left;
    color: black;
}
.description{
    color: rgba(0,0,0,0.8);
    text-align : left;
    padding: 10px 0;
}
.button{
    padding: 7px 29px;
    border-radius: 5px;
    border: 1px solid #6c5cff;
    outline: none;
    background-color: inherit;
    color:  #6c5cff;
    margin: auto;    
    margin-top: 10px;
}
.button:hover{
    border: none;
    border-radius: 5px;
    color: white;
    background-color:  #6c5cff
}
.background1{
    background-color: #f9f9fc;
    padding: 60px 0;
}
#tab-container{
    max-width: 1100px;
    margin: auto;
}
.tab-heading{
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 30px;
    color: black;
}
.tabview{
    padding: 0px 40px 0px 40px;
    display: inline-block;
    border: none;
    margin-bottom: 30px;
}
.nav .nav-item:first-child{
    margin-left: 0px;
}
.nav .nav-item .nav-link{
    color: rgba(0,0,0,0.8);
    border: none;
    padding: 10px 50px
}
.nav .nav-item .nav-link:hover{
    color: #6c5cff !important;
}
.nav .nav-item .nav-link:first-child{
    padding-left: 15px;
}
.nav-item .nav-link.active {
    color: #6c5cff !important;
    background-color: inherit !important;
}
.tab-content{
    margin: 20px 0;
}















/* 
#tabscontainer {
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding: 0;
    max-width: 655px;
  }
  #tabscontainer > [name="radiogroupfortabs"] {
    position: absolute; 
    visibility: hidden; 
  }
  #tabscontainer > #radiofortab1{-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1;}
  #tabscontainer > #radiofortab2{-webkit-box-ordinal-group:3;-webkit-order:2;-ms-flex-order:2;order:2;}
  #tabscontainer > #radiofortab3{-webkit-box-ordinal-group:4;-webkit-order:3;-ms-flex-order:3;order:3;}
  #tabscontainer > [id^="tab-label"] {
    position: relative;
    top: 0px;
    max-height: 18px;  
    margin: 4px 2px 0 0;
    display: inline-block;  
    padding: 12px 21px;
    border-radius: 5px 5px 0 0;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #000000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    background: #B0B0B0;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  #tabscontainer > [id^="tab-label"]:hover {
    background: #969696;  
  }
  #tabscontainer > [id^="tab-content"] {
      -webkit-box-ordinal-group: 999;
      -webkit-order: 999;
      -ms-flex-order: 999;
      order: 999;
      display: none;    
      z-index: 2;
      top: 48px;
      width: 100%;
      min-height: 5em;
      overflow: hidden;    
      font-size: 14px;
      border-width: 1px;
      border-style: solid;
      padding: 10px 25px 25px 25px;
      background: #c9c9c9;
      margin-top: -1px;
      border-radius: 0 5px 5px 5px;
  }
  #tabscontainer > [name="radiogroupfortabs"]:checked + [id^="tab-label"] {
    z-index: 4;
    margin-top: 0px;
    padding-top: 16px;
    background: #c9c9c9;
    border-color: #000 #000 #c9c9c9 #000;
  }
  #tabscontainer > #radiofortab1:checked ~ #tab-content1{display: block;}
  #tabscontainer > #radiofortab2:checked ~ #tab-content2{display: block;}
  #tabscontainer > #radiofortab3:checked ~ #tab-content3{display: block;} */