body {
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: 0px;
    color: #677294;
    padding: 0px;
    overflow-x: hidden;
    z-index: 0;
  }
  a{
      text-decoration: none;
  }
.background{
    background-image: url("https://images.unsplash.com/photo-1512436991641-6745cdb1723f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}
.container{
    max-width: 1100px;
    margin: 40px auto;
    background-color: rgba(255,255,255,0.75);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.inner-container{
    max-width: 400px;
    margin: 42px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;
}
.heading{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}
.name{
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: black;
}
.category{
    font-size : 28px;
    font-weight: 400;
    text-align: left;
    color: black;
}
.description{
    color: rgba(0,0,0,0.8);
    text-align : left;
    padding: 10px 0;
}
.button{
    padding: 7px 29px;
    border-radius: 5px;
    border: 1px solid #6c5cff;
    outline: none;
    background-color: inherit;
    color:  #6c5cff;
    margin: auto;    
    margin-top: 10px;
}
.button:hover{
    border: none;
    border-radius: 5px;
    color: white;
    background-color:  #6c5cff
}
.background1{
    background-color: #f9f9fc;
    padding: 60px 0;
}
#tab-container{
    max-width: 1100px;
    margin: auto;
}
.tab-heading{
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 30px;
    color: black;
}
.tabview{
    padding: 0px 40px 0px 40px;
    display: inline-block;
    border: none;
    margin-bottom: 30px;
}
.nav .nav-item:first-child{
    margin-left: 0px;
}
.nav .nav-item .nav-link{
    color: rgba(0,0,0,0.8);
    border: none;
    padding: 10px 50px
}
.nav .nav-item .nav-link:hover{
    color: #6c5cff !important;
}
.nav .nav-item .nav-link:first-child{
    padding-left: 15px;
}
.nav-item .nav-link.active {
    color: #6c5cff !important;
    background-color: inherit !important;
}
.tab-content{
    margin: 20px 0;
}
.btn-outline-info {
    color: #6c5cff;
    border-color: #6c5cff;
    outline:none
}
.btn-outline-info:hover{
    color: white;
    border-color: none;
    background-color: #6c5cff;
    
}